@function vw($px-vw, $base-vw: 360px) {
  @return ($px-vw * 100vw) / $base-vw
}

@media screen and (max-width: 767px) {
  .desk-only {
    display: none;
  }
  .mob-only {
    display: flex;
  }

  .hero {
    height: vw(541px);
  }
  .hero-content {
    filter: none;
    z-index: 2;
  }

  .hero-masked {
    mask-image: url("../img/mask-hero-mob.png");
  }

  .container {
    max-width: 100%;
    padding: 0 vw(15px);
  }
  .hero::after {
    height: vw(102px);
    background: url("../img/hero-after-mob.svg") no-repeat center / 100%;
    bottom: vw(-54px);
    z-index: 1;
  }
  .hero-text .img {
    width: vw(264px);
    transform: none;

    margin-left: vw(-6px);
    margin-top: vw(-50px);
  }
  .hero-btn {
    bottom: auto;
    //12px
    top: calc(100% + 3.3333vw);
    width: vw(50px);
    height: vw(50px);
    transform: translate(-50%, 0);
    margin-left: 0;

    .ic {
      width: vw(25px);
      margin-top: vw(8px);
    }
  }
  .some-info__cont {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: vw(60px);
  }
  .some-info {
    padding-top: vw(134px);
  }
  .single-some-info {
    width: 100%;

    span {
      font-size: vw(90px);
    }

    p {
      font-size: vw(35px);
    }
  }

  .header-top {
    width: vw(250px);
  }
  .header-top-cont {
    padding: vw(7.5px) vw(27.5px) vw(2px) vw(28px);
  }
  .header-top {
    border-radius: 0 0 vw(35px) vw(35px);
  }
  .header-top::before {
    height: vw(61px);
    border-radius: 0 0 vw(35px) vw(35px);
  }
  .header-sos {
    width: vw(47px);
    height: vw(40px);
  }
  .header-controls {
    margin-left: 0;
    margin-right: auto;

    .header-lang {
      display: none;
    }
  }
  .header-controls {
    order: 3;
  }
  .header.active .container {
    padding: 0 vw(24px);
  }
  .burger {
    width: vw(35px);
    height: vw(12px);
    order: 1;
    margin-left: auto;
    margin-bottom: vw(9px);
  }
  .header-sos {
    margin-bottom: vw(2px);
  }
  .burger.active {
    width: vw(35px);
  }
  .burger.active {
    width: vw(35px);
    margin-right: vw(-4px);
    margin-bottom: vw(8px);
  }
  .burger.active span {
    width: vw(35px);
  }
  .header-top-cont .logo {
    height: vw(52px);
    width: vw(42px);
    order: 2;
    margin-right: vw(23px);
    margin-left: auto;

    img {
      height: vw(52px);
      width: vw(160px);
    }
  }
  .header.active .header-controls {
    margin-left: 0;
  }
  .header.active .header-top-cont .logo {
    width: vw(160px);
  }
  .header.active .header-top-cont .logo {
    margin-right: vw(20px);
  }

  .header-bot {
    top: vw(62px);

    background: #fff;
    height: vw(489px);
    width: 100%;
    //mask-image: url("../img/header-bot-mask.png");
    //mask-position: 0 0;
    //mask-size: 100% 100%;
    overflow: visible;
    transform: translate(0, -140%);

    .header-lang {
      display: flex;
      position: absolute;
      right: vw(25px);
      //20px
      top: calc(100% + 5.5556vw);
      z-index: 4;
    }

    &::before {
      width: 360px;
      height: 66px;
      display: inline-block;
      content: '';
      background: url("../img/header-bot-before.svg") no-repeat center / 100%;
      z-index: 1;
      position: absolute;
      left: 0;
      top: 100%;
      //-36px
      transform: translate(0, -10.0000vw);
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: url("../img/header-bot-mask.png") no-repeat bottom center / 100%;
      filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.16));
    }

    .container {
      position: relative;
      z-index: 3;
    }

  }
  .header-lang ul {
    gap: vw(14px);
  }
  .header-lang ul li > a, .header-lang ul li > span {
    gap: vw(4px);

    &::before {
      width: vw(20px);
      height: vw(20px);
    }
  }
  .header-lang ul li > a span, .header-lang ul li > span span {
    font-size: vw(20px);
  }
  .header.active ~ .header-over-bottom {
    display: none;
  }
  .header-top::before {
    content: none;
  }
  .header.active .header-top::before {
    height: 0;
    content: '';
  }
  .header {
    &::before {
      height: vw(621px);
      width: 100%;
      border-radius: 0 0 vw(35px) vw(35px);
      display: inline-block;
      content: '';
      transition: all 0.3s ease-out;
      top: 0;
      left: 0;
      background: #fff;
      box-shadow: none;
      position: absolute;
      transform: translate(0, -100%);
    }

    &.active {
      &::before {
        transform: translate(0, 0);
        box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
      }
    }
  }
  .header-top {
    z-index: 5;
  }
  .header-bot {
    padding-top: vw(55px);


  }
  .menu {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
    width: 100%;
    //padding-right: 22px;

    > li {
      width: 100%;
      margin-bottom: vw(21px);
      overflow: hidden;

      transition: all 0.3s ease-out;

      > a {
        width: 100%;
        font-weight: bold;
        font-size: vw(25px);
        line-height: 1.2;
        text-align: center;
        color: #042844 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: vw(16px);
        position: relative;
        overflow: hidden;
        height: vw(30px);
        transition: all 0.3s ease-out;

        &::after {
          width: vw(11px);
          height: vw(19px);
          transition: all 0.3s ease-out;
          display: inline-block;
          content: '';
          background: url("../img/arrow-black.svg") no-repeat center / 100%;
          position: absolute;
          top: 50%;
          left: vw(88px);
          transform: translate(0, -50%);
        }
      }


      ul {
        width: 100%;
        gap: vw(21px);
        //padding-top: 19px;
        margin-right: vw(5px);
        max-height: 0;
        overflow-y: auto;
        transition: all 0.3s ease-out;

        li {
          width: 100%;

          &:first-child {
            margin-top: vw(24px);
          }

          a {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: normal;

            font-size: vw(20px);
            line-height: 1.5;
            text-align: center;


          }
        }
      }

      &.open {
        > a {
          &::after {
            transform: translate(0, -50%) rotate(-90deg);
          }
        }

        ul {

          max-height: vw(305px);
        }
      }
    }

    &.open {
      > li:not(.open) {

        margin-bottom: 0;
        opacity: 0;

        > a {
          height: 0;

        }

      }
    }
  }

  .menu > li {
    gap: 0;
  }

  .news-cont {
    .swiper {
      height: vw(454px);
    }

    .swiper-wrapper {
      .swiper-slide {
        //28px
        height: calc((100% / 3) - (28px / 3)) !important;
      }
    }
  }
  .news-block {
    padding-bottom: vw(133px);

    .container {
      padding: 0 vw(11px);
    }
  }
  .btn-circle {
    width: vw(50px);
    height: vw(50px);
    bottom: vw(11px);
    left: vw(11px);

    .ic {
      img {
        width: vw(25px);
        margin-left: vw(-5px);
      }
    }
  }
  .single-news .news-text p {
    font-size: vw(40px);
  }
  .single-news .news-bg-text p {
    font-size: vw(16px);
    max-width: vw(293px);
  }
  .single-news .news-text .ic {
    height: vw(45px);
  }
  .single-news {
    .news-img {
      border-radius: vw(25px);
    }

    .news-text {
      border-radius: vw(25px);
      padding: vw(5px) vw(5px) vw(65px);

      .ic {
        bottom: vw(16px);
        right: vw(10px);
      }
    }

    .news-bg-text {
      border-radius: vw(25px);
      padding: vw(5px) vw(2px) vw(45px);
    }
  }
  .news-block {
    .sub-title {
      width: 100%;
      text-align: center;
      margin-bottom: vw(20px);
      font-size: vw(40px);
      display: flex;
      align-items: center;
      justify-content: center;

    }

    .dots {
      display: flex;
      margin-top: vw(20px);
    }
  }

  .sub-title {
    font-size: vw(40px);
  }

  .footer::before {
    //22px
    width: calc(100% - 6.1111vw);
    border-radius: vw(30px) vw(30px) 0 0;
    box-shadow: 3px -3px 6px rgba(0, 0, 0, 0.16);
  }
  .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: vw(13px);

    .single-dot {
      width: vw(14px);
      height: vw(14px);
      border-radius: 50%;
      background: #D6D6D6;
      cursor: pointer;

      &.active {
        background: $green;
      }
    }
  }
  .footer {
    margin-top: vw(133px);
    padding: vw(27px) 0 vw(11px);
  }
  .header-over-bottom {
    display: none;
  }
  .footer-menus {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: vw(3px);
  }
  .footer-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &.footer-infos {
      .menu {
        max-height: 0;
      }
    }

    .menu, .form {
      display: flex;
    }

    > span {
      width: 100%;
      display: flex;
      opacity: 1 !important;
      position: relative;

      font-weight: bold;
      font-size: vw(15px);
      line-height: 2;
      color: #008fc3;
      padding-right: vw(21px);

      &::after {
        width: vw(9px);
        height: vw(16px);
        transition: all 0.3s ease-out;
        display: inline-block;
        content: '';
        background: url("../img/arrow-blue.svg") no-repeat center / 100%;
        position: absolute;
        top: 50%;
        left: vw(137px);
        transform: translate(0, -50%);
      }
    }
  }
  .footer-bot {
    width: 100%;
    padding-top: vw(13px);

    p {
      width: 100%;
      max-width: 100%;
      font-size: vw(12px);
      text-align: center;
    }
  }
  .footer-cont {
    padding: 0 vw(24px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: vw(32px);

    .socials {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .socials {
      gap: vw(36px);
      flex-direction: row-reverse;

      .s-social {
        width: vw(30px);
        height: vw(30px);

        .ic {
          width: vw(19px);
        }
      }
    }
  }
  .socials {
    gap: vw(36px);

    .s-social {
      width: vw(30px);
      height: vw(30px);

      .ic {
        width: vw(19px);
      }
    }
  }

  .news-block {
    overflow: hidden;
  }

  .cards-home {
    width: 100%;
    display: flex;
    padding: vw(70px) 0 vw(60px);
    overflow: hidden;

    .container {
      padding: 0 vw(11px);
    }
  }

  .cards-home-slider {
    width: 100%;
    height: vw(492px);

    .swiper {
      width: 100%;
      height: 100%;
      overflow: visible;
    }

    .swiper-wrapper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      height: 100%;
      width: 100%;
    }
  }
  .card-home-mob {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .sub-title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: auto;
    }
  }

  .btn {
    width: 100%;
    border-radius: vw(25px);

    p {
      font-size: vw(15px);

      .ic {

      }
    }
  }
  .card-bot {
    width: 100%;
    margin-top: vw(10px);
    height: vw(426px);
    position: relative;

    .img {
      border-radius: vw(35px);
      overflow: hidden;
      backface-visibility: hidden;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .btn {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 2;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
      background: #FCFFEF;
      height: vw(64px);
      border-radius: vw(35px);
      padding: vw(5px) 0 vw(5px) vw(57px);

      &::before {
        content: none;
      }

      .ic {
        width: vw(50px);
        height: vw(50px);
        background: $blue;
        left: vw(7px);
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 50%;
        overflow: hidden;

        img {
          width: vw(26px);
          top: 53%;
          left: 44%;
          right: auto;
          transform: translate(-50%, -50%) rotate(90deg);
          z-index: 3;

          &:nth-child(2) {
            transform: translate(100%, -50%) rotate(90deg);
          }
        }

        &::before {
          content: '';
          width: 0;
          height: 0;
          transition: all 0.3s ease-out;
          background: $green;
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      p {
        font-size: vw(25px);
        font-weight: normal;
        color: #042844;
      }

      &:hover {
        .ic {
          &::before {
            width: 100%;
            height: 100%;
          }

          img {
            transform: translate(-200%, -50%) rotate(90deg);

            &:nth-child(2) {
              transform: translate(-50%, -50%) rotate(90deg);
            }
          }
        }
      }
    }
  }
  .cards-home {
    position: relative;

    .dots {
      position: absolute;
      bottom: vw(16px);
      left: 0;
      width: 100%;
      padding: 0 vw(11px);
    }
  }
  body {
    position: relative;
    padding-bottom: vw(252px);

    .footer {
      z-index: 4;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
  .footer {
    &::before {
      box-shadow: 3px -3px 7px 1px rgba(0, 0, 0, .12);
      background: #EEFAFE;
      opacity: 1;
    }
  }
  .footer-column {
    .menu {
      display: flex;
    }
  }
  .footer-column {
    .menu {
      margin-top: 0;
      margin-bottom: 0;
      gap: vw(10px);
      transition: all 0.3s ease-out;
      max-height: 0;

    }

    .form {
      max-height: 0;
      margin-top: 0;
      flex-wrap: nowrap;
      overflow: hidden;
      transition: all 0.3s ease-out;

      //8px
      width: calc(100% + 2.2222vw);
      margin-right: vw(-4px);
    }

    > span {
      &.open {
        &::after {
          transform: translate(0, -50%) rotate(-90deg);
        }

        & ~ .menu {
          max-height: vw(200px);
          margin-top: vw(9px);
          margin-bottom: vw(7px);
        }

        & ~ .form {
          margin-top: vw(10px);
          max-height: vw(375px);
        }
      }
    }
  }
  .footer-column .menu li {
    margin-bottom: 0;
    width: 100%;
    padding-right: vw(20px);

    a {
      font-size: vw(15px);
      color: $blue !important;
      width: 100%;

      &::after, &::before {
        content: none;
      }

      &:hover {
        color: $green !important;
      }
    }
  }

  .input-wrap {
    width: 100%;

    input, textarea {
      font-size: vw(15px);
      border-radius: vw(28px);
      padding: vw(9px) vw(6px);

      &::placeholder {
        font-size: vw(15px);
      }
    }
  }
  .footer-form .form form .btn, .footer-form .form form .input-wrap {
    width: 100%;
    height: vw(39px);

    &.textarea-wrap {
      height: vw(103px);

      textarea {
        height: 100%;
        border-radius: vw(28px);
      }
    }

    input {
      height: 100%;
    }
  }
  .footer-form .form form .btn {
    height: vw(37px);
    margin-top: vw(9px);
  }
  .footer-form .form form {
    max-height: none;
  }
  .form form {
    gap: vw(14px);
  }
  .form {
    form {
      .btn {
        padding-left: vw(18px);

        .ic {
          width: vw(30px);
          left: vw(24px);

          img {
            width: vw(18px);
          }
        }

        p {
          font-size: vw(15px);
        }
      }
    }
  }


  .about-company {
    width: 100%;
    margin-top: vw(91px);
    padding-top: vw(40px);

    .container {
      > .sub-title {
        width: 100%;
        text-align: center;
      }
    }
  }

  .about-company-list {
    width: 100%;
    margin-top: vw(61px);
    gap: 0;
  }
  .single-company-item {
    width: 100%;
    gap: vw(17px);
    padding-right: vw(3px);
    overflow: hidden;
    max-height: 0;
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 0;
    }

    transition: all 0.3s ease-out;

    .ic {
      width: vw(47px);
      height: vw(47px);
    }

    .text {
      span {
        font-size: vw(40px);
        margin-bottom: -1px;
      }

      p {
        font-size: vw(16px);
        line-height: 1.4;
        max-width: 100%;
      }
    }

    &:nth-child(1), &:nth-child(2) {
      max-height: none;
      margin-bottom: vw(18px);
    }
  }
  .about-company-list {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .btn-plus {
      margin-top: vw(2px);
    }

    &.open {
      .single-company-item {
        max-height: vw(300px);
        margin-bottom: vw(18px);

        &:nth-last-child(2) {
          //margin-bottom: 0;
        }
      }
    }
  }
  .btn-plus {
    width: vw(50px);
    height: vw(50px);

    .ic {
      &::before, &::after {
        width: vw(26px);
        height: vw(2px);
      }

      img {
        width: vw(26px);
      }
    }
  }

  .dir-text__cont {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    .btn {
      width: vw(260px);
      transform: translate(0, -50%);
      padding-right: vw(39px);
    }
  }
  .btn {
    height: vw(60px);
    padding-left: vw(39px);
    padding-top: vw(5px);
    padding-bottom: vw(5px);
    padding-right: vw(5px);
    border-radius: vw(30px);

    p {
      font-size: vw(23px);
    }

    .ic {
      width: vw(35px);

      img {
        width: vw(25px);
      }
    }
  }
  .text-director .sub-title {
    max-width: 100%;
    text-align: center;
    margin-bottom: vw(33px);

    br {
      display: initial;
    }
  }
  .text-director {
    .text {
      display: none;
    }

    .btn-plus {
      display: none;
    }
  }
  .dir-text {
    padding-top: vw(45px);
    padding-bottom: vw(10px);

    .container {
      padding: 0 vw(11px);
    }
  }
  .director-list {
    padding: vw(43px) 0 vw(30px);


    .container {
      padding: 0 vw(11px);
    }
  }
  .dir-text ~ .dir-text {
    padding-top: vw(40px);
  }
  .director-list ~ .director-list {
    padding-top: vw(17px);
  }
  .directors-slider {
    height: vw(447px);
    padding: vw(10px) 0;
    margin-top: vw(22px);

    .dots {
      margin-top: vw(21px);
    }
  }
  .directors-slider .swiper-wrapper .swiper-slide {
    height: 100% !important;
  }
  .director-card {
    height: 100% !important;
    margin: 0 !important;

    .img {
      border-radius: vw(25px);
    }

    .txt {
      width: vw(289px);
      padding: vw(13px) vw(5px) vw(8px);
      border-radius: vw(25px) vw(25px) 0 0;

      p {
        font-size: vw(20px);
      }
    }
  }
  .directors-slider .btns {
    display: none;
  }
  .dir-text__cont .img {
    width: 100%;
    height: vw(416px);
    border-radius: vw(28px);
  }

  .waves-mob-slider {
    width: 100%;
    padding-top: vw(52px);
    padding-bottom: vw(89px);

    .container {
      padding: 0 vw(11px);

      > .sub-title {
        min-height: 2.4em;
        margin-bottom: vw(17px);
        width: 100%;
        text-align: center;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-left: vw(8px);
      }
    }
  }

  .waves-mob-select {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .waves-select-top {
    width: 100%;
    padding: vw(29px) vw(15px);
    border-radius: vw(25px);
    background: #d5f2fc;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.1);
  }

  .custom-select {
    width: 100%;
    position: relative;


    > span {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: vw(60px);
      background: #fff;
      border-radius: vw(30px);
      cursor: pointer;

      font-size: 20px;
      line-height: 1.5;
      text-align: center;
      color: #008fc3;
      border: 1px solid $blue;
      padding: vw(5px) vw(9px) vw(5px) vw(4px);

      &::after {
        height: vw(19px);
        width: vw(29px);
        background: url("../img/arrow-blue2.svg") no-repeat center / 100%;
        display: inline-block;
        content: '';
        position: absolute;
        left: vw(17px);
        top: 53%;
        transform: translate(0, -50%) rotate(0);
      }

    }

    ul {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      max-height: 0;
      overflow: hidden;


      background: #fff;
      opacity: 0;
      border-radius: 0 0 vw(30px) vw(30px);

      border: 1px solid $blue;

      transition: all 0.3s ease-out;
      z-index: 3;

      li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: vw(20px);
        line-height: 1.5;
        text-align: center;
        color: #008fc3;
        padding: vw(5px) vw(9px) vw(5px) vw(4px);

        &.selected {
          color: $green;
        }
      }
    }

    &.open {
      > span {
        border-radius: vw(30px) vw(30px) 0 0;

        &::after {
          transform: translate(0, -50%) rotate(180deg);
        }
      }

      ul {
        opacity: 1;

        border-color: $blue;
        max-height: vw(250px);
      }
    }
  }

  .waves-select-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: vw(39px);
  }

  .single-waves-select {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &.active {
      display: flex;
    }

    .img {
      width: 100%;
      height: vw(190px);
      border-radius: vw(28px) vw(28px) 0 0;
      overflow: hidden;
      backface-visibility: hidden;
      position: relative;

      .sub-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: vw(10px) vw(10px) vw(6px);
        font-weight: bold;
        color: #042844;

      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .text {
      padding: vw(20px) vw(16px) vw(29px) vw(31px);
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      border-radius: 0 0 vw(28px) vw(28px);
      box-shadow: inset 0 -3px 6px rgba(0, 0, 0, 0.16);
      background: #FFFFFF;

      p {
        font-weight: normal;
        font-size: vw(16px);
        line-height: 1.375;
        text-align: right;
        color: #042844;
        width: 100%;
      }
    }
  }
  .modal-window {
    padding: vw(15px);
  }
  .modal-text-block {
    padding: vw(98px) vw(23px) vw(49px);
  }
  .modal-container {
    max-height: 100%;
    overflow-y: auto;

    .cls {
      position: absolute;
      right: vw(11px);
      top: vw(11px);
    }
  }
  .modal-text {
    margin-top: vw(29px);

    p {
      font-weight: normal;
      font-size: vw(16px);
      line-height: 1.375;
      text-align: right;
      color: #042844;
      margin-bottom: vw(22px);
    }
  }
  .modal-container {
    width: 100%;
    background: linear-gradient(#fefff9 0%, #ebf9fe 100%);

    .cls {

      width: vw(50px);
      height: vw(50px);

      .ic {
        &::before, &::after {
          width: vw(26px);
          height: vw(2px);
        }

        img {
          width: vw(26px);
        }
      }

    }
  }

  .modal-text-title {
    .sub-title {
      font-size: vw(25px);
    }
  }
  h1 {
    font-size: vw(60px);
  }
  .default-hero {
    margin-top: vw(159px);

    h1 {
      margin-bottom: vw(20px);
    }
  }
  .default-hero p {
    font-size: vw(25px);
    max-width: 81%;
    line-height: 1.1;
  }


  .under-wave {
    width: 100%;
    height: vw(584px);
    margin-bottom: vw(-29px);
    margin-top: vw(-75px);
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));

    .container .sub-title {
      color: #fff;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: vw(70px);
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .btn {
      width: 100%;
      max-width: vw(260px);
      margin-left: auto;
      margin-right: auto;
      background: #fff;
      margin-top: vw(15px);
      padding-right: vw(37px);

      p {
        color: $blue;
      }
    }
  }
  .under-wave-mask {
    mask-image: url("../img/mask-static2.png");
    mask-size: 100% 100%;
    mask-position: 0 0;
  }
  .waves-static {
    min-height: auto;
    height: vw(545px);
    margin-top: vw(42px);
    margin-bottom: vw(20px);

    .static-image {
      mask-image: url("../img/wave-mask2.png");
      mask-size: 100% 100%;
      mask-position: 0 0;
    }
  }

  .waves-static-text .text-director {
    display: none;
  }
  .waves-static-text {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .sub-title {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: vw(61px);
      }
    }

    .btn {
      width: 100%;
      max-width: vw(260px);
      margin-left: auto;
      margin-right: auto;
      background: #fff;
      margin-top: vw(17px);
      padding-right: vw(37px);

      p {
        color: $blue;
      }
    }
  }

  .btn-download {

    width: vw(50px);
    height: vw(50px);

    .ic {
      &::before, &::after {
        width: vw(26px);
        height: vw(2px);
      }

      img {
        width: vw(26px);
      }
    }

  }

  .download-esg {
    margin-top: vw(33px);
    margin-bottom: 0;

    .dots {
      margin-top: vw(14px);
    }

    .btns {
      display: none;
    }

    .container {
      padding: 0 vw(11px);
    }

    .sub-title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .download-esg-slider {
    height: vw(250px);
    padding: vw(10px) vw(4px);
    //8px
    width: calc(100% + 2.2222vw);
    margin-left: vw(-4px);
    margin-right: vw(-4px);
    margin-top: vw(10px);

    .swiper-slide {
      height: calc(50% - 4px);
    }
  }

  .slide-download {
    .img {
      display: none;
    }

    .bot {
      position: relative;
      top: auto;
      left: auto;
      bottom: auto;
      right: auto;
      width: 100%;
      height: 100%;
      border-radius: vw(25px);
      padding: vw(10px) vw(8px) vw(20px) vw(10px);

      p {
        font-size: vw(20px);
      }
    }

    .btn-download {
      bottom: vw(10px);
      left: vw(9px);
    }
  }
  .download-esg ~ .dir-text .dir-text__cont .text-director {
    margin-top: vw(5px);

    .sub-title {
      margin-bottom: vw(20px);
    }

    & ~ .btn {
      margin-right: vw(-15px);
    }
  }
  .modal-container {
    border-radius: vw(25px);
  }
  .download-esg ~ .dir-text .dir-text__cont .img {
    height: vw(416px);
  }
  .download-esg ~ .dir-text {
    padding-bottom: vw(10px);
  }
  .download-esg ~ .dir-text.table-dir {
    padding-top: vw(11px);
    padding-bottom: vw(64px);
  }
  .dir-text__cont .img.table-img {
    display: none !important;
  }

  .dir-text.table-dir {
    .sub-title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .text {
      display: flex;
      width: 100%;
      max-width: 100%;
      margin-top: vw(4px);
      padding-right: vw(4px);

      p {
        font-size: vw(16px);
        max-width: 100%;
        line-height: 1.4;
        width: 100%;
      }
    }

    .text-director {
      margin-bottom: vw(27px);
    }

    .text-director ~ .btn {
      padding-right: vw(35px);
      transform: translate(0, 0);

      p {
        padding: 0;
      }
    }
  }

  .modal-image {
    width: 100%;
    height: auto;
    display: flex;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: vw(25px);
    overflow: hidden;
    backface-visibility: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .modal-window {
    &[data-modal='img'] {
      .modal-container {
        background: rgba(255, 255, 255, 0);

        .modal-text-block {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }


  .cards-home-text {
    padding-top: vw(112px);

    .cards-home-slider {
      height: auto;

      .sub-title {
        display: none;
      }
    }

    .text-director .sub-title {
      margin-bottom: vw(17px);
    }

    .text-director .text {
      display: flex;
      max-width: 100%;

      .hidden-text {
        max-width: 100%;
        width: 100%;
      }

      p {

        max-width: 100%;

        font-weight: normal;
        font-size: vw(16px);
        line-height: 1.375;
        color: #042844;
      }
    }

    .btn-plus {
      display: flex;
      position: relative;
      top: auto;
      left: auto;
      bottom: auto;
      right: auto;
      transform: none;
      margin-right: auto;
      margin-left: auto;
      margin-top: vw(15px);
    }
  }
  .text-plus.open .hidden-text {
    max-height: vw(200px);
  }
  .cards-home-slider {
    margin-top: vw(14px);


    .card-bot {
      .btn {
        padding: 1.38889vw 15.83333vw 1.38889vw 15.83333vw;
      }
    }
  }

  .cards-home {
    &.cards-expand-text {
      padding-top: vw(38px);

      .cards-home-slider {
        height: auto;
        padding-bottom: vw(10px);
      }

      .dots {
        bottom: vw(35px);
      }

      .card-bot {
        margin-top: vw(23px);
        height: auto;

        .img {
          height: vw(426px);
        }

        .text-expand {
          margin-top: vw(-64px);
          background: #FCFFEF;
          width: 100%;
          border-radius: vw(35px);
          position: relative;
          padding-top: vw(64px);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease-out;
          max-height: vw(64px);
          overflow: hidden;


        }

        .txt {
          width: 100%;
          padding: vw(39px) vw(45px) vw(61px) vw(24px);

          p {
            font-weight: normal;
            font-size: vw(16px);
            line-height: 1.375;
            color: #042844;
          }
        }

        .btn-expand {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 2;


          height: vw(64px);

          padding: vw(5px) 0 vw(5px) vw(57px);

          &::before {
            content: none;
          }

          .ic {
            width: vw(50px);
            height: vw(50px);
            background: $blue;
            top: 50%;
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            left: vw(10px);
            transform: translate(0, -50%);


            img {
              position: absolute;
              width: vw(26px);
              top: 50%;
              left: 50%;
              right: auto;
              transform: translate(-50%, -50%) rotate(90deg);
              z-index: 3;
              transition: all 0.3s ease-out;

              &:nth-child(2) {
                transform: translate(100%, -50%) rotate(90deg);
              }
            }

            &::before {
              border-radius: 50%;
              content: '';
              width: 0;
              height: 0;
              transition: all 0.3s ease-out;
              background: $green;
              display: inline-block;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          p {
            font-size: vw(25px);
            font-weight: normal;
            color: #042844;
          }

          &:hover {
            .ic {
              &::before {
                width: 100%;
                height: 100%;
              }

              img {
                transform: translate(-200%, -50%) rotate(90deg);

                &:nth-child(2) {
                  transform: translate(-50%, -50%) rotate(90deg);
                }
              }
            }
          }
        }

        .text-expand {
          &.open {
            max-height: vw(300px);

            .btn-expand {
              .ic {
                &::before {
                  width: 100%;
                  height: 100% !important;
                }

                img {
                  transform: translate(-50%, -50%) rotate(45deg);
                }
              }
            }
          }
        }
      }
    }
  }

  .subscribe-left {
    max-width: 100%;
    width: 100%;

    .sub-title {
      text-align: center;
      //10px
      width: calc(100% + 2.7778vw);
      margin-left: vw(-5px);
      margin-right: vw(-5px);
      margin-bottom: vw(28px);
    }
  }
  .subscribe-left .text {
    p {
      display: none;
    }

    span {
      font-size: vw(25px);
      text-align: center;
      font-weight: normal;
      margin-bottom: vw(25px);
    }
  }

  .subscribe-left {
    .form {
      form {

      }
    }
  }
  .subscribe-section {
    margin-top: vw(63px);
    margin-bottom: vw(120px);

    .container {
      padding: 0 vw(11px);
    }
  }
  div:not(.footer-form) > .form {
    form {
      gap: vw(14px);
    }

    form .btn {
      height: vw(60px);
      padding: vw(5px) vw(30px) vw(5px) vw(30px);

      p {
        font-size: vw(23px);
      }

      .ic {
        width: vw(25px);
        left: vw(4px);
      }
    }

    .input-wrap {

      input {
        height: vw(60px);
        border-radius: vw(28px) 0 0 vw(28px);
      }

      input, textarea {
        font-size: vw(20px);
        line-height: 1.5;

        &::placeholder {
          font-size: vw(20px);
          line-height: 1.5;
        }
      }
    }
  }
  div:not(.footer-form) > .form form .btn .ic img {
    width: vw(25px);
  }
  .subscribe-section::after {
    content: none;
  }


  .hero {
    &.hero-blog {
      .default-hero {
        align-items: center;
        margin-top: vw(157px);

        h1 {
          max-width: 87%;
          text-align: center;
        }
      }
    }
  }
  .hero-blog .hero-btn {
    display: flex;
  }
  .blog {
    margin-top: vw(99px);
    margin-bottom: vw(48px);

    .container {
      padding: 0 vw(11px);
    }
  }
  .blog-list {
    gap: vw(14px);

    .single-news-card {
      width: 100% !important;
    }
  }

  .single-news-card {
    height: vw(294px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: vw(28px);
    box-shadow: inset 0 -2px 6px rgba(0, 0, 0, 0.16);

  }
  .news-card-image {
    width: 100%;
    height: vw(95px);
    //flex-grow: 0;
  }
  .news-card-text {
    width: 100%;
    flex-grow: 1;
    padding: vw(11px) vw(16px);

    .btn-circle {
      left: vw(11px);
      bottom: vw(11px);
    }

    span {
      font-size: vw(20px);
      margin-bottom: auto;
      min-height: 0;
    }

    p {
      font-size: vw(15px);
      max-width: vw(217px);

      &.txt {
        margin-top: vw(25px);
        margin-bottom: vw(7px);
      }
    }
  }


  .article-block {
    margin-top: vw(21px);
  }
  .hero.hero-article {
    height: vw(264px);

    .hero-masked {
      mask-image: url("../img/article-mask2.png");
      mask-size: 100% 100%;
      mask-position: 0 0;
    }
  }

  .article-block .container {
    padding: 0 vw(11px);
    max-width: 100%;
  }

  .article-top {
    h1 {
      font-size: vw(30px);
      margin-bottom: vw(19px);

      br {
        display: none;
      }
    }

    span {
      font-size: vw(15px);
      line-height: 1.25;
      padding-right: vw(10px);
      display: inline-block;
    }
  }
  .article-author {
    gap: vw(16px);
    margin-top: vw(51px);
    padding-right: vw(14px);

    .img {
      width: vw(65px);
      height: vw(65px);
      flex-shrink: 0;
    }

    .txt {
      flex-wrap: wrap;
      padding-top: vw(6px);

      p {
        font-size: vw(15px);
        line-height: 1.7;

        &:nth-child(2) {
          &::after {
            content: none;
          }
        }

        &::after {
          margin-left: vw(3px);
          margin-right: vw(3px);
        }

        &:last-child {
          width: 100%;
        }
      }
    }
  }

  .article-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .article-share {
    order: 2;
    position: static;
    width: 100%;
    height: 100%;

    .s-social {
      position: relative;
      top: auto !important;
      left: auto !important;
      right: auto !important;
      bottom: auto !important;
    }
  }
  .article-wrap {
    padding-top: vw(27px);
  }

  .article-text {
    h2, h3 {
      font-size: vw(25px);
      padding-right: vw(13px);
      margin-bottom: vw(26px);
    }

    p, li, blockquote {
      font-size: vw(16px);
      line-height: 1.38;
    }

    ul {

    }

    li {
      margin-bottom: vw(30px);


    }

    ul {
      margin-top: vw(18px);

      li {
        padding: 0 vw(48px) 0 vw(36px);
        line-height: 1.31;
        margin-bottom: vw(21px);

        &::before {
          width: vw(11px);
          height: vw(11px);
          top: vw(9px);
          right: vw(17px);
        }
      }
    }

    p {
      margin-bottom: vw(21px);
    }

    img {
      margin: 0 0 vw(31px);
    }
  }

  .blog-block {
    padding: vw(50px) 0 vw(119px);

    .sub-title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .container {
      padding: 0 vw(11px);
    }
  }

  .other-list-blog {
    margin-top: vw(25px);
    gap: vw(14px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .single-news-card {
      width: 100%;
    }
  }
  .article-block {
    margin-bottom: vw(25px);
  }
  .article-share {
    //24px
    width: calc(100% - 6.6667vw);
    border-radius: vw(35px);
    flex-grow: 1;
    padding: vw(7px);
    border: 1px solid $green;
    margin-right: vw(12px);
    margin-left: vw(12px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: vw(33px);
    margin-top: vw(36px);

    .btn-share {
      width: vw(50px);
      height: vw(50px);
      flex-shrink: 0;
      pointer-events: none;

      .ic {
        img {
          width: vw(28px);
        }
      }
    }

    .socials {
      width: auto;
      flex-grow: 1;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      gap: vw(20px);

      .s-social {
        width: vw(50px);
        height: vw(50px);
        transform: none !important;

        .ic {
          width: vw(29px);
        }
      }
    }
  }


  .big-map-wrap {
    touch-action: none;

    .img {
      img {
        position: static;
      }
    }
  }


  .hero.hero-esg {
    & ~ .waves-mob-slider {
      padding-top: vw(171px);
      padding-bottom: vw(72px);

      .container > .sub-title {
        padding-left: 0;
        padding-right: vw(5px);
      }

      .single-waves-select .img .sub-title {
        color: #fff;
      }
    }
  }
  .glossar {
    padding: vw(30px) 0 vw(43px);
    margin-bottom: vw(20px);

    .container {
      padding: 0 vw(11px);
    }
  }
  .glossar-block {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: vw(20px);
    padding: 0;

    .img {
      width: vw(93px);
      height: vw(93px);

      img {
        width: vw(39px);
      }
    }

    .text {
      width: 100%;
      max-width: 100%;

      .sub-title {
        width: 100%;
        text-align: center;
        margin-bottom: vw(26px);
      }
    }
  }
  .glossar-block .text .btn p {
    padding: 0;
  }

  .table-change {
    margin: vw(61px) 0 vw(44px);

    .container {
      padding: 0 vw(11px);

      .sub-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
  }
  .table-change-tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: vw(46px);
  }
  .table-change__head {
    width: 100%;
    gap: vw(6px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .tab-btn {
      cursor: pointer;
      //12px
      width: calc((100% / 3) - (3.3333vw / 3));
      display: flex;
      align-items: center;
      justify-content: center;

      height: vw(73px);

      border-radius: vw(25px);
      background: #d6d6d6;
      box-shadow: inset 0 -3px 6px rgba(0, 0, 0, 0.16);


      font-weight: bold;
      font-size: vw(20px);
      line-height: 1.2;
      text-align: center;
      color: #707070;
      transition: all 0.3s ease-out;

      &:hover {
        color: #fff;
      }

      &.active {
        color: #fff;
        background: #b2d33c;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      }
    }
  }
  .table-change__cont {
    width: 100%;
    margin-top: vw(15px);

    .img {
      width: 100%;
      height: auto;
      filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
      display: none;

      &.active {
        display: flex;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .dir-table {
    .text-director .text {
      width: 100%;
      max-width: 100%;
      display: flex;

      p {
        font-size: vw(16px);
        line-height: 1.375;
      }
    }

    .text-director {
      .hidden-text {
        max-width: 100%;
      }

      .sub-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: vw(20px);
      }

      .btn-plus {
        display: flex;
        position: relative;
        top: auto;
        left: auto;
        bottom: auto;
        right: auto;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  .dir-table .img {
    height: auto;
  }
  .graph-table {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: vw(53px);
  }
  .graph-right {
    width: 100%;
  }
  .graph-left {
    width: 100%;
    gap: vw(10px);

    padding-right: vw(15px);
    padding-left: vw(50px);
    padding-top: vw(17px);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    direction: ltr;

    span {
      width: auto;
      font-size: vw(25px);
    }
  }
  .graph-right {
    height: vw(226px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .graph-cont {
    //26px
    width: calc(100% - 7.2222vw);
    height: 100%;
    display: flex;
    direction: ltr;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: vw(31px);
    padding-right: vw(21px);
    padding-bottom: 0;


    .graph-line {
      width: vw(48px);
      height: calc(var(--wid) * 4%);

      &::before {
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
        top: auto;
        right: auto;
      }

      &::after {
        font-size: vw(20px);
        left: 50%;
        bottom: 100%;
        margin-left: 0;
        margin-bottom: vw(13px);
        top: auto;
        right: auto;
        transform: translate(-50%, 0);
      }
    }
  }
  .graph-table:hover .graph-line::before {
    height: 100%;
  }
  .graph-bot {
    height: 100%;
    width: vw(26px);
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: vw(9px);

    span {
      font-size: vw(15px);
      transform: none;
      margin-top: vw(15px);

      &:first-child {
        margin-top: 0;
        transform: translate(0, 50%);
      }
    }
  }

  .dir-table {
    padding-bottom: vw(20px);
  }
  .big-map-block {
    margin: vw(65px) 0 vw(62px);

    .container {
      padding: 0 vw(11px);
    }

    .sub-title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 0;
    }
  }
  .big-map-cont {
    margin-top: vw(23px);
  }
  .big-map-wrap {
    height: vw(416px);
    border-radius: vw(30px);
  }
  .big-map-wrap .img img {
    width: vw(1359px);
    transform: translate(-620px, -406.25px);
  }
  .big-map-block .container .btn {
    margin-top: vw(20px);
    width: auto;
    margin-right: auto;
    margin-left: auto;
    min-width: vw(260px);

    .ic {
      width: vw(42px);

      img {
        width: vw(26px);
      }
    }
  }
  .big-map-block + .director-list .directors-slider {
    margin-top: vw(14px);
  }

  .speed-table {
    margin-top: vw(79px);
    margin-bottom: vw(50px);

    .container {
      .sub-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .speed-table-cont {
    margin-top: vw(17px);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
  }
  .speed-table-text {
    width: 100%;
    max-width: 100%;

    .btn-plus {
      margin-left: auto;
      margin-right: auto;
      margin-top: vw(20px);
    }

    p {
      font-size: vw(16px);
      line-height: 1.375;
      text-align: center;
      margin-bottom: vw(5px);

      strong {
        font-weight: normal;
      }
    }

    ul {
      li {
        width: 100%;
        text-align: center;
        font-size: vw(16px);
        line-height: 1.375;
        margin-bottom: 0;
      }
    }

    .text {
      p {
        font-size: vw(16px);
        line-height: 1.375;
        margin-bottom: vw(20px);
      }
    }

    .hidden-text {
      width: 100%;
      max-height: 0;
      transition: all 0.3s ease-out;
      overflow: hidden;
    }

    &.text-plus.open .hidden-text {
      max-height: vw(500px);
    }
  }

  .speed-table-table {
    width: 100%;
    margin-top: vw(24px);
  }
  .table-speed-wrap {
    border-radius: vw(25px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: vw(21px) 0 vw(31px);
    z-index: 2;
  }
  .table-speed-control {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .speed-table {
    .container {
      padding: 0 vw(11px);
    }
  }
  .table-speed-control {
    padding: 0 vw(9px) 0 vw(10px);

    .table-speed-month, .table-speed-select {
      width: vw(133px);

      > p {
        width: calc(100% - 2px);
        height: vw(47px);
        background: #FCFFEF;
        padding: vw(16px) vw(17px) vw(12px) vw(10px);
        font-size: vw(20px);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        z-index: 2;
        margin-bottom: 0;
        margin-top: 1px;
        margin-right: 1px;
        margin-left: 1px;
        border-radius: vw(25px);

        &::after {
          width: vw(25px);
          height: vw(13px);
          display: inline-block;
          position: absolute;
          content: '';
          transition: all 0.3s ease-out;
          background: url("../img/arrow-blue2.svg") no-repeat center / 100%;
          top: 53%;
          left: vw(14px);
          filter: brightness(0);
          transform: translate(0, -50%);
        }
      }

      &.open {
        > p {
          &::after {
            transform: translate(0, -50%) rotate(180deg);
          }
        }

        ul, .table-select ul {
          max-height: vw(450px);

        }
      }
    }
  }
  .table-speed-month {
    position: relative;
  }
  .table-speed-select {
    position: relative;
  }
  .table-speed-month ul, .table-select ul {
    position: absolute;
    padding-top: vw(49px);
    top: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    gap: 0;
    border-radius: vw(25px);
    border: 1px solid #008FC3;
    overflow: hidden;
    background: #FCFFEF;

    li {
      width: 100%;
      height: auto;
      border: none;
      background: #FCFFEF;
      font-size: vw(20px);
      line-height: 1.5;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border-radius: 0;
      text-align: right;
      padding: 0px vw(17px) 1px vw(5px);


      &.selected {
        background: $blue;
        display: flex !important;
        color: #fff;
      }
    }

    max-height: 0;
    transition: all 0.3s ease-out;
  }
  .table-select {
    position: static;

    > span {
      display: none;
    }
  }

  .display-year-month {
    width: 100%;
    margin-top: vw(50px);
    margin-bottom: vw(50px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 vw(11px);

    div {
      width: vw(133px);
      padding: 0 vw(17px) 0 vw(14px);
      display: flex;
      align-items: center;
      justify-content: space-between;

      span, p {
        font-size: vw(20px);
        line-height: 1.5;
        font-weight: 700;
        color: #042844;
      }

      span {
        font-weight: 400;
        display: inline-block;

      }
    }
  }
  .table-info__data ul, .table-info__name ul {
    padding: vw(3px);
    padding-bottom: vw(33px);
  }
  .table-speed-info {
    width: 100%;
    gap: 0;
  }
  .table-info__name {
    width: 50%;

    ul {
      border-radius: vw(20px) 0 0 vw(20px);
    }
  }
  .table-info__data {
    width: 50%;
  }
  .table-info__data ul, .table-info__name ul {
    li {
      font-size: vw(16px);
      line-height: 1;
    }
  }
  .speed-table-table .buttons {
    margin-top: vw(22px);
    gap: vw(14px);

    .btn {
      p {
        line-height: 1;
      }
    }
  }
  .download-list {
    gap: vw(8px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: vw(32px);
    margin-bottom: vw(24px);

    .slide-download {
      width: 100%;
      height: vw(113px);
    }
  }
  .download-esg.download-esg-other {
    .container {
      .sub-title {
        text-align: center;
      }
    }
  }
  .table-speed-empty {
    width: 100%;
    padding: vw(50px) vw(20px);

    p {
      font-size: vw(20px);
      font-weight: 700;
    }
  }
  .waves-select-drop {
    width: 100%;
    margin-top: vw(30px);
    margin-bottom: vw(70px);

    .container {
      padding: 0 vw(11px);

      .sub-title {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .waves-dropdown {
    width: 100%;
    gap: vw(9px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: vw(27px);
  }
  .single-wave-dropdown {
    width: 100%;
    border: 1px solid #B2D33C;
    border-radius: vw(35px);
    overflow: hidden;
    position: relative;
  }
  .wave-dropdown-head {
    width: 100%;
    z-index: 2;
    position: relative;
    padding: vw(10px) vw(14px) vw(10px) vw(9px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .ic {
      width: vw(50px);
      height: vw(50px);
      background: $blue;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      left: auto;
      top: auto;


      img {
        position: absolute;
        width: vw(26px);
        top: 50%;
        left: 50%;
        right: auto;
        transform: translate(-50%, -50%) rotate(90deg);
        z-index: 3;
        transition: all 0.3s ease-out;

        &:nth-child(2) {
          transform: translate(100%, -50%) rotate(90deg);
        }
      }

      &::before {
        border-radius: 50%;
        content: '';
        width: 0;
        height: 0;
        transition: all 0.3s ease-out;
        background: $green;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &:hover {
      .ic {
        &::before {
          width: 100%;
          height: 100%;
        }

        img {
          transform: translate(-200%, -50%) rotate(90deg);

          &:nth-child(2) {
            transform: translate(-50%, -50%) rotate(90deg);
          }
        }
      }
    }

    p {
      font-weight: normal;
      font-size: vw(25px);
      line-height: 1;
      color: #042844;
    }
  }
  .drop-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    backface-visibility: hidden;
    z-index: 1;
    opacity: 0.5;
    transition: all 0.3s ease-out;

    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .single-wave-dropdown {
    &.open {
      .drop-img {
        opacity: 1;
      }

      .wave-dropdown-cont {
        max-height: vw(550px);
      }

      .wave-dropdown-head {
        .ic {
          &::before {
            width: 100%;
            height: 100% !important;
          }

          img {
            transform: translate(-50%, -50%) rotate(45deg);
          }
        }
      }
    }
  }
  .wave-dropdown-cont {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;
    position: relative;
    z-index: 2;

    .text {
      padding: 1px vw(14px) vw(10px);
      width: 100%;

      p {
        font-weight: normal;
        font-size: vw(16px);
        line-height: vw(20px);
        color: #042844;
        margin-bottom: vw(15px);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }


  .glossar {
    &.glossar-work {
      & ~ .news-block {
        .news-cont .swiper {
          height: vw(363px);

          .swiper-slide {
            height: 100% !important;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }

  .glossar.glossar-work .glossar-block {
    padding-right: 0;
    gap: vw(25px);
  }
  .glossar.glossar-work .glossar-block .img img {
    width: vw(45px);
  }
  .glossar.glossar-work {
    padding-top: vw(241px);
    padding-bottom: vw(61px);
    z-index: 1;
    margin-top: vw(-89px);
    margin-bottom: vw(48px);
  }
  .glossar.glossar-work .glossar-block .text .sub-title {
    margin-bottom: vw(30px);
  }
  .glossar.glossar-work .glossar-block .text .btn {
    margin-top: vw(21px);
  }
  .glossar.glossar-work ~ .news-block .sub-title {
    margin-bottom: vw(27px);
  }
  .glossar.glossar-work ~ .news-block {
    padding-bottom: vw(42px);
  }
  .glossar.glossar-work .glossar-block .text {
    max-width: 100%;

    > p {
      font-size: vw(16px);
      line-height: 1.375;
    }
  }
  //  done px
}



